@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: rgb(31, 40, 59);
  font-family: 'Poppins', sans-serif;
}

.active {
  color: white;
  background-color: rgb(40, 173, 0);
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.logout {
  color: rgb(252, 252, 252);
  background-color: rgb(66, 66, 66);
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
}


.lout task-container {
  height: 90vh;
  background-color: whitesmoke;
}

.addTask {
  height: 10vh;
  background-color: transparent;
  padding: 10px;
}

.outlet {
  height: 80vh;
  background-color: rgb(24, 30, 45);
  border-radius: 10px;
  padding: 1rem;
  overflow: auto;
}

.indicator {
  display: flex;
  align-items: center;
  height: 10vh;
  margin: auto 10px;
}